<!DOCTYPE html>
<html data-wf-site="5fdae0f639bf2d01afe8e351" data-wf-page="5fdae0f639bf2d97ade8e352"> 
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}}{{else}}Музыка кода{{/if}}</title>
  <meta name="description" content="OpsGuru создает адаптивную ИТ-инфраструктуру в облаках с помощью Terraform и Kubernetes, описывая её как код. Чтобы поддержать ваше новогоднее настроение, мы перевели Terraform-код инфраструктуры в двоичный, создали из него музыкальные треки и визуализировали их, чтобы вы могли создать новогоднюю открытку."> 
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta property="og:title" content="{{#if title}}{{title}}{{else}}Музыка кода{{/if}}" />
  <meta property="og:description" content="OpsGuru создает адаптивную ИТ-инфраструктуру в облаках с помощью Terraform и Kubernetes, описывая её как код. Чтобы поддержать ваше новогоднее настроение, мы перевели Terraform-код инфраструктуры в двоичный, создали из него музыкальные треки и визуализировали их, чтобы вы могли создать новогоднюю открытку." />
  <meta property="og:image" content="https://iac-music.com/social.jpg" />
  <meta name="url" content="https://iac-music.com/">

  <link href="../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/components.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/code-music.css" rel="stylesheet" type="text/css">
  <link href="../src/style.scss" rel="stylesheet" type="text/css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["IBM Plex Mono:300,regular,500:cyrillic,cyrillic-ext,latin,latin-ext"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="../assets/images/webclip.png" rel="apple-touch-icon">
  <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H6LLSB31BL"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'G-H6LLSB31BL');
  </script>
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(70734037, "init", {
clickmap:true,
trackLinks:true,
accurateTrackBounce:true,
webvisor:true,
ecommerce:"dataLayer"
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/70734037" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <style>
    body{
      opacity:0;
    }
  </style>
</head>
<body class="body" data-barba="wrapper">
  <div id='webglContainer'></div>
   <div class="header player">
    <a href="/" aria-current="page" class="w-inline-block w--current"><img src="../assets/images/logo-opsguru.png" loading="lazy" alt="" class="logo"></a>
    <div data-w-id="5acb32d3-a3c4-6795-10a4-b34705f2a318" class="menu-icon">
      <div class="html-embed-2 w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        </svg></div>
    </div>
    <div class="menu-wrap">
      <div class="close-menu">
        <div data-w-id="dee8de62-981d-894e-7cee-a5bd75bfe10b" class="close-icon menu w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg></div>
      </div>
      <div class="arrowed-link">
        <a href="https://opsguru.ru/?utm_source=iacmusic" target="_blank" class="about-link">О нас</a>
        <div class="html-embed w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg></div>
      </div>
      <div class="arrowed-link">
        <a href="/about.hbs" class="about-link">О проекте </a>
        <div class="html-embed w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg></div>
      </div>
      <div class="arrowed-link">
        <a href="https://eng.iac-music.com/" class="about-link js-lang-link">En</a>
      </div>
    </div>
  </div>
  {{{body}}}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5fdae0f639bf2d01afe8e351" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="../assets/js/code-music.js" type="text/javascript"></script>
  <script src="../src/app.ts"></script>
  <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
  <script>
    document.body.style.opacity = 1;
  </script>
</body>