{{!< base}}

<main id="entryContent" data-barba="container" data-barba-namespace="about" data-wf-page="5fdf13a1a9e57d08eb5c940a">
  <div class="section no-bg">
    <div class="text-container">
      <h2 class="h2 pp bold">Инфраструктура как код помогает компаниям меняться, чтобы дарить моменты радости
        клиентам<br></h2>
      <p class="paragraph-normal">Современные удобные приложения делают жизнь проще, и, иногда, создают для нас
        по-настоящему радостные моменты. За ними стоит работа многих людей, технологии и современные подходы. Один из
        таких подходов – гибкая IT-инфраструктура как код (англ. Infrastructure-as-Code; IaC).<br><br>IaC популярен для
        сервисов и приложений, развернутых на облачных платформах, например Yandex.Cloud, Google Cloud, AWS. Идея IaC
        подхода — описывать инфраструктуру кодом, переиспользуя практики разработки приложений. Такой код автоматически
        разворачивает и сворачивает IT-ресурсы (сервера, память, базы данных и другие) под нагрузку приложений и
        запускаемые модули.<br>‍<br>OpsGuru создает Инфраструктуру как код для банков, ритейла, автоконцернов,
        промышленности, умного города – для компаний, которые хотят быстро меняться под запросы рынка и пользователей,
        усиливая безопасность IT-систем.<br><br>Можно сказать, что инфраструктура как код &quot;невидима&quot; и для
        разработчиков, и для клиентов. С ней разработчик фокусируется на создании логики и удобства приложений для
        пользователей вместо сборки серверов и баз данных. Пользователи таких приложений на основе инфраструктуры как
        код получают более стабильный доступ к сервисам с большими возможностями. А владельцам приложений на IaC проще контролировать рост IT-инфраструктуры, управлять расходами на неё и оптимизировать их.<br></p>
      <h2 class="h2 pp bold">Инфраструктура как код может быть музыкой<br></h2>
      <p class="paragraph-normal">Мы в OpsGuru решили поддержать дух праздника и озвучили для вас работу
        &quot;невидимого&quot;, чтобы через музыку и образы поделиться новогодним настроением. <br><br>Послушайте
        музыкальные треки, которые мы создали из кода для ИТ-инфраструктуры. Как мы это сделали:
        <br>• Terraform-код для разворачивания IT-инфраструктуры переложили в двоичный код.
        <br>• Присвоили получившимся значениям ноты, инструменты и биты.
        <br>• Добавили саунд дизайн для гармонии.
        <br>• Визуализировали треки в духе нового года. Подобрали к трекам новогодние образы, отразив отрасли, с которыми мы работаем.
        <br>• Дали возможность каждому посетителю собрать личную новогоднюю аудио открытку и поделиться ей.
        <br><br>Поздравляем с праздником вас
        и ваших близких! Мы с удовольствием помогаем компаниям развивать сервисы, чтобы они делали нашу с вами жизнь удобной и
        радостной! Пусть в новом году все разворачивается хорошо!<br><br>
        <a href="https://opsguru.ru/?utm_source=iacmusic" target="_blank" class="link">Команда OpsGuru</a>
      </p>
    </div>
  </div>
</main>