{{!< base}}

<main id="entryContent" data-barba="container" data-barba-namespace="make-postcard"
  data-wf-page="5fdcb89683594e091d485396">
  {{!-- <div class="homeBg"></div> --}}
  <div class="section postcard">
    <div class="h1-wrap">
      <h1 class="h1 centered">Создайте вашу новогоднюю открытку и поделитесь поздравлением</h1>
    </div>
    <div class="post">
      <div class="card-postcard">
        <div>
          <div class="postcard-wrap">
            <div class="form-wrap w-form">
              <form id="email-form" name="email-form" data-name="Email Form">
                <label for="from" class="label">от кого</label>
                <input type="text" class="field w-input" maxlength="256" name="from" data-name="from" id="from" required="">
                <label for="to" class="label">Для</label><input type="text" class="field w-input" maxlength="256" name="to" data-name="to" placeholder="" id="to" required="">
                <label for="text" class="label">Текст поздравления</label>
                <textarea name="text" maxlength="120" id="greeting-text" data-name="greeting-text" required="" class="field greeting w-input"></textarea>
               </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
        <a class="button-card postcard w-button" id='submit'>Создать открытку</a>
      </div>
    </div>
    <div class="div-block-6">
      <p class="paragraph left">Дизайн и разработка – <a href="https://curves.digital/?utm_source=iacmusic" target="_blank"
          class="link">CURVES</a><br>Звук – Виталий Лактионов, <a href="https://www.instagram.com/beatfootrecords/" target="_blank" class='link'>BeatfootRecords</a><br>Идея и продюсирование – Юлия Богданова</p>
      <p class="paragraph">
        <a href="https://beatfoot.com/" target="_blank" class="link"></a>© <span class='js-currentYear'></span> <a href="https://opsguru.ru/?utm_source=iacmusic" target="_blank" class="link">OpsGuru</a>
      </p>
    </div>
  </div>
</main>