---
title: Новогодняя открытка и пожелание для вас.
---
{{!< base}}

<main id="entryContent" data-barba="container" data-barba-namespace="player" data-wf-page="5fdddaec62d74f71eea86d28">
<div class="section player">
  <div class="nav">
    <a class="menu-button w-button">1</a>
    <a class="menu-button w-button">2</a>
    <a class="menu-button w-button">3</a>
    <a class="menu-button w-button">4</a>
  </div>
  <div class="lower-div">
    <div id="w-node-ef9bbfc666fc-eea86d28" class="card ready-postcard">
        <h1 class="h2" id='postcard-text'></h1>
        <div class="grid-2">
          <div>
            <div class="label ready">от</div>
            <h2 class="h2 bold" id='postcard-from'></h2>
          </div>
          <div>
            <div class="label ready">для</div>
            <h2 class="h2 bold" id='postcard-to'></h2>
          </div>
        </div>
        <div data-w-id="233e6445-fcca-86c5-de64-ef9bbfc6670a" class="close-icon abs w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg></div>
        <a href="/make-postcard.hbs" class="button-card postcard w-button">Создать открытку</a>
    </div>
    <a id="w-node-9f58f2b8bad1-3fee9a7e" data-w-id="49f1ef1d-b79d-b08f-3ee3-9f58f2b8bad1" href="make-postcard.hbs" class="custom-button w-inline-block makePostcardBlock">
      <div class="gift w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path>
          <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
        </svg></div>
      <h2 class="h2">Создать<br>открытку</h2>
    </a>
    <div id="w-node-8451ddeaedee-3fee9a7e" class="player-wrap">
      <div class="track-name">
        <h2 class="h2 centered bold" id='trackName'></h2>
      </div>
      <div class="playback-tracker">
        <div class="playback-amount" id="progressLine"></div>
      </div>
      <div class="buttons">
        <div class="icon-player-sound-wrap" id='mute'>
          <div data-w-id="18dcddda-47db-94eb-883e-4e6dbce3a40b" class="icon-player forward sound-off w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM12.293 7.293a1 1 0 011.414 0L15 8.586l1.293-1.293a1 1 0 111.414 1.414L16.414 10l1.293 1.293a1 1 0 01-1.414 1.414L15 11.414l-1.293 1.293a1 1 0 01-1.414-1.414L13.586 10l-1.293-1.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg></div>
          <div data-w-id="18dcddda-47db-94eb-883e-4e6dbce3a40c" class="icon-player forward sound-on w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z" clip-rule="evenodd"></path>
            </svg></div>
        </div>
        <div class="main-player-wrap">
          <a class="backward w-inline-block" id='prevTrack'>
            <div class="icon-player forward w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.445 14.832A1 1 0 0010 14v-2.798l5.445 3.63A1 1 0 0017 14V6a1 1 0 00-1.555-.832L10 8.798V6a1 1 0 00-1.555-.832l-6 4a1 1 0 000 1.664l6 4z"></path>
              </svg></div>
          </a>
          <div class="icon-player-playpause-wrap" id='playPause'>
            <div data-w-id="18dcddda-47db-94eb-883e-4e6dbce3a411" class="icon-player play w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
              </svg></div>
            <div data-w-id="18dcddda-47db-94eb-883e-4e6dbce3a412" class="icon-player pause w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
              </svg></div>
          </div>
          <a class="forward w-inline-block" id='nextTrack'>
            <div class="icon-player forward w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z"></path>
              </svg></div>
          </a>
        </div>
        <div data-w-id="233e6445-fcca-86c5-de64-ef9bbfc6671f" class="icon-player forward sound-off w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"></path>
          </svg></div>
      </div>
      <div style="height:0px" class="share-block-wrap">
        <div class="share-block">
          <div class="share-menu-wrap">
            <h2 class="h2 black">Поделиться:</h2>
            <div data-w-id="afc83fe2-3487-4fd2-76e3-ba61879d6bc3" class="close-icon w-embed"><svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg></div>
          </div>
          <div class="share-social">
            {{!-- <div class="social-block" id='fbShare'>
              <h3 class="h3">Facebook</h3>
            </div>
            <div class="social-block" id='twShare'>
              <h3 class="h3">Twitter</h3>
            </div>
            <div class="social-block" id='instShare'>
              <a class="h3" href="https://iac-music.com/insta-story.png" target='_blank'>Instagram</a>
            </div> --}}
            <div id="w-node-ba61879d6bce-3fee9a7e" class="social-block">
              <h3 class="h3">Скопировать ссылку</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="w-node-e75dbbdf2bf0-3fee9a7e" class="footer">
      <p class="paragraph">Дизайн и разработка – <a href="https://curves.digital/?utm_source=iacmusic" target="_blank" class="link">CURVES</a><br>Звук – Виталий Лактионов, <a href="https://www.instagram.com/beatfootrecords/" target="_blank" class='link'>BeatfootRecords</a><br>Идея и продюсирование – Юлия Богданова<br>© <span class='js-currentYear'></span> <a href="https://opsguru.ru/?utm_source=iacmusic" target="_blank" class="link">OpsGuru</a>
      </p>
    </div>
  </div>
</div>
</main>